<div layout="column" ng-cloak>
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Tournament Home</h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
      <md-list>
      <md-list-item class="md-1-line" ng-repeat="name in tournaments track by $index">
            <div class="md-list-item-text">
            {{name}}
            <md-divider ng-if="!$last"></md-divider>
          </div>
        </md-list-item>
    </md-list>

    <div ng-repeat="game in games track by $index">
      <div ng-click="loadGame($index)">
      {{game.teamH}} {{game.scoreHgoals}}:{{game.scoreHpoints}} - 
      {{game.teamO}} {{game.scoreOgoals}}:{{game.scoreOpoints}}
    </div>
    </div>
  
       

  </md-content>




</div>


