<div layout="column" ng-cloak>
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Tournament Home</h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
      <md-list>
        <md-list-item class="md-1-line" ng-repeat="tournament in tournaments track by $index">
              <div class="md-list-item-text">
              {{tournament.tournamentName}} - {{tournament.tournamentDate}}
              <md-divider ng-if="!$last"></md-divider>
            </div>
          </md-list-item>
      </md-list>

    <md-button class="md-fab md-mini" aria-label="add tournament" ng-click="createTournament()">
        <md-icon md-svg-src="/resources/ic_add_circle_outline_black_24px.svg"></md-icon>
    </md-button>


     



       

  </md-content>




</div>


