<div layout="column" ng-cloak>
  <!--<md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Create New Tournament</h2>
    </div>
  </md-toolbar>-->

  <md-content flex layout-padding>

        
        <md-input-container ng-repeat="team in teams track by $index">
            <label>Team #{{$index+1}}</label>
            <input ng-model="team">
        </md-input-container>
        


  <!--<md-button class="md-fab md-mini" aria-label="add tournament" ng-click="createTournament()">
        <md-icon md-svg-src="/resources/ic_add_circle_outline_black_24px.svg"></md-icon>
    </md-button>-->


    <div layout="row" >

        <md-input-container>
            <label>Team</label>
            <input type="text" ng-model="inputTeam" ng-blur="addTeam()" >
        </md-input-container>

        <md-input-container>
            <label>Teams</label>
            <md-select ng-model="selectedTeam" md-selected-text="getSelectedTeam()">
                <md-optgroup label="teams">
                <md-option ng-value="teamq" ng-repeat="teamq in allTeams">Item {{teamq}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>


  
       

  </md-content>
  




</div>


